{% extends 'base.html' %}
{% load static %}

{%block 'head' %} 
<link href="{% static 'css/home.css' %}" rel="stylesheet">
<link href="{% static 'css/cadastro.css' %}" rel="stylesheet">
{% endblock %}

{% block 'conteudo' %}

<div class="corpo">
    <div class="bloco-total">
        <div class="bloco-cad-1">
            {% if dados_ocorrencia.numero_ocorrencia > 0 %}
                <div class="titulo">Editar banner de reroll</div>
            {% else %}
                <div class="titulo">Editar banner de persoangem</div>
            {% endif %}
            <form action="{% url 'ed_personagem' dados_ocorrencia.id %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                <div class="cadastro-p"> 
                    <div class="cadastro-info">
                        <label for="" class="text-d">Nome do personagem 5*:</label>
                        <input type="text" class="input-d" id="" name="nome" value="{{dados_banner.nome}}">
                    </div>
                    <div class="junta-bloco">
                        <div class="cadastro-info">
                            <label for="" class="text-calen">Data que começou o banner:</label>
                            <input type="date" name="data_inicio" id="" class="input-d" value="{{dados_ocorrencia.data_inicio|date:'Y-m-d'}}">
                        </div>
                        <div class="cadastro-info">
                            <label for="" class="text-calen">Data que vai terminar o banner:</label>
                            <input type="date" name="data_final" id="" class="input-d" value="{{dados_ocorrencia.data_final|date:'Y-m-d'}}">
                        </div>
                        <div class="cadastro-info">
                            <label for="numero_ocorrencia" class="text-d">Número de Ocorrência:</label>
                            <input type="number" class="input-d" id="numero_ocorrencia" name="numero_ocorrencia" value="{{ dados_ocorrencia.numero_ocorrencia }}" readonly>
                        </div>
                    </div>
                    <div class="junta-bloco">
                        <div class="cadastro-info">
                            <label for="" class="text-d">Escolha o caminho do personagem:</label>
                            <select id="caminho" class="input-d" name="caminho">
                                {% for value, name in dados_banner.get_caminho_choices %}
                                    <option value="{{ value }}" {% if dados_banner.caminho == value %}selected{% endif %}>{{ name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="cadastro-info">
                            <label for="" class="text-d">Qual o tipo do banner?</label>
                            <select id="tipo" class="input-d" name="tipo">
                                <option value="False" {% if not dados_banner.tipo %}selected{% endif %}>Comum</option>
                                <option value="True"{% if dados_banner.tipo %}selected{% endif %}>Limitado</option>
                            </select>
                        </div>
                    </div>
                    <div class="cadastro-info">
                        <label for="" class=".text-file">Foto do personagem:</label> <br>
                        <input type="FILE" value="Alterar PDF" class="input-d" name="foto">
                    </div>
                    <div class="cadastro-info">
                        <label for="" class=".text-file">Foto em miniatura do personagem:</label> <br>
                        <input type="FILE" value="Alterar PDF" class="input-d" name="mini-foto">
                    </div>
                    <div class="junta-btn">
                        <button type="submit" class="btn-edt">ALTERAR</button></form>
                            {% if dados_ocorrencia.numero_ocorrencia > 0 %}
                            <form action="{% url 'del_OC_personagem' dados_ocorrencia.id %}" method="POST">{% csrf_token %}
                                <button type="submit" class="btn-del">Deletar</button>
                            </form>
                        {% else %}
                            <form action="{% url 'del_personagem' dados_banner.id %}" method="POST">{% csrf_token %}
                                <button type="submit" class="btn-del">Deletar</button>
                            </form>
                        {% endif %}
                    </div>
                </div>    
            <div class="titulo-final"></div>
        </div>
            <div class="bloco-cad-2">
                {% if dados_banner.foto%}
                    <img width="380px" src="{{dados_banner.foto.url}}">
                {% else %}
                    <img width="380px" src="{% static "img/pompom.jpeg" %}">
                {% endif %}
            </div>
    </div>
</div>

{% endblock %}