{% extends 'base.html' %}
{% load static %}

{%block 'head' %} 
<link href="{% static 'css/home.css' %}" rel="stylesheet" >
<link href="{% static 'css/cadastro.css' %}" rel="stylesheet">
{% endblock %}

{% block 'conteudo' %}
{% if messages %}
    <br>
    {% for message in messages %}
        <div class="alert {{ message.tags }}">{{ message }}</div>
    {% endfor %}
{% endif %}

<div class="corpo">
    <div class="bloco-total">
        <div class="bloco-cad-1"><div class="titulo">Cadastrar reroll de arma</div>
            <form action="{% url "arma_reroll" %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                <div class="cadastro-p"> 
                    <div class="cadastro-info">
                        <label for="" class="text-d">Escolha o banner de arma:</label>
                        <select id="personagemSelect" class="input-d" name="nome" onchange="toggleInput()">
                            {% for arma_comum in armas_comum %}
                                <option value="{{ arma_comum.banner.id }}">{{ arma_comum.banner.nome_a }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="cadastro-info">
                        <label for="" class="text-d">Reroll número?</label>
                        <input type="text" class="input-d" id="" name="reroll" placeholder="EX: 1, 2, 3, 4....">
                    </div>
                    <div class="junta-bloco">
                        <div class="cadastro-info">
                            <label for="" class="text-calen">Data que começou o banner:</label>
                            <input type="date" name="data_inicio" id="" class="input-d">
                        </div>
                        <div class="cadastro-info">
                            <label for="" class="text-calen">Data final do banner:</label>
                            <input type="date" name="data_final" id="" class="input-d">
                        </div>
                    </div>
             
                    <button type="submit" class="btn"><span class="btn-text">Cadastrar</span></button>
                </div>    
            </form>
        </div>
            <div class="bloco-cad-2">
                <img width="405px" id="personagemImage" src="{% static 'img/pompom-hsr.gif'%}">
            </div>
    </div>
</div>

<script>
    function toggleInput() {
        var select = document.getElementById("personagemSelect");
        var image = document.getElementById("personagemImage");

        // Mapeie as opções do select para os caminhos das imagens
        var imagePaths = {
            // Use valores das opções do select como chaves e caminhos das imagens como valores
            {% for arma_comum in armas_comum %}
                "{{ arma_comum.banner.id }}": "{% if arma_comum.banner.foto_a %}{{ arma_comum.banner.foto_a.url }}{% else %}{% static 'img/pompom-hsr.gif' %}{% endif %}",
            {% endfor %}
        };

        var selectedOption = select.options[select.selectedIndex];
        var imageName = selectedOption.value;
        var imagePath = imagePaths[imageName]; // Obtém o caminho da imagem com base na seleção

        if (imagePath) {
            // Atualiza o atributo src da imagem com o caminho obtido
            image.src = imagePath;
        } else {
            // Se a imagem correspondente não for encontrada, defina uma imagem padrão
            image.src = "{% static 'img/pompom-hsr.gif' %}";
        }
    }
</script>
{% endblock %}